* {
    box-sizing: border-box;
}

body {
    font-family: Open Sans;
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.firtsname_secondname {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 620px;
}

.item2 {
    flex-basis: 400px;
}

#fname {
    border-right: 1px black;
    width: 305px;
    margin-right: none;
}

#sname {
    width: 305px;
    margin-left: none;

}

.companyNamу,
#company::placeholder {
    color: black;
}

.content {
    background-color: #fff;
    text-align: center;
}

input {
    padding-left: 10px;
    font-size: 15px;
    background-color: #F5F5F5;
}



.item {
    width: 100%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 10px 5px;
}



h1 {
    font-size: 36px;
    font-weight: 700px;
    text-align: center;
}

p {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}


input::placeholder {
    font-size: 16px;
    font-weight: 400;
    color: #999;
}


.HeroText {
    background-color: #F5F5F5;
}

button {
    background-color: #089FE0;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    border: 1px solid black;
}


#mychbox {
    color: #666;
    font-size: 14px;
    font-weight: 400;
}

.my-form {
    width: 620px;
    background-color: #fff;
    border-radius: 10px;
}